.btn {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    cursor: pointer;
    color: #333 !important;
    transition: 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.btn.disabled {
    pointer-events: none;
    color: #BDBDBD !important;
}

.btn-normal {
    background-color: #CFD8DC;
    font-size: 14px;
    -webkit-box-shadow: var(--shadow-2);
        box-shadow: var(--shadow-2);
}
.btn-normal:hover {
    -webkit-box-shadow: var(--shadow-4);
            box-shadow: var(--shadow-4);
}
.btn-normal:active {
    -webkit-box-shadow: var(--shadow-6);
            box-shadow: var(--shadow-6);
}

.btn-shallow {
    width: 48px;
    height: 36px;
    background-color: #FAFAFA;
    -webkit-box-shadow: var(--shadow-1);
            box-shadow: var(--shadow-1);
}
.btn-shallow:hover {
    color: black !important;
    background-color: #EEEEEE
}
.btn-shallow:active {
    color: #424242 !important;
    background-color: white;
}
.btn-shallow i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 28px;
    line-height: 36px;
}

.btn-fab {
    position: fixed;
    /* 手机平板上距离屏幕右下角 16px */
    right: 16px;
    bottom: 16px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;
    text-align: center;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: var(--shadow-6);
            box-shadow: var(--shadow-6);
    -webkit-transition: all 0.2s, -webkit-box-shadow 0.2s;
            transition: all 0.2s, -webkit-box-shadow 0.2s;
            transition: all 0.2s, box-shadow 0.2s;
            transition: all 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.btn-fab:hover {
    opacity: 0.87;
    -webkit-box-shadow: var(--shadow-8);
            box-shadow: var(--shadow-8);
}
.btn-fab:active {
    opacity: 0.76;
    -webkit-box-shadow: var(--shadow-8);
            box-shadow: var(--shadow-8);
}
@media (min-width: 1024px) {
    .btn-fab {
        /* 电脑上距离屏幕右下角 24px */
        right: 24px;
        bottom: 24px;
    }
}

.tool-btn-in-block {
    width: 10%;
    min-width: 60px;
    max-width: 84px;
    height: 32px;
    line-height: 32px;
    margin: 0 40px 0 -20px;
    background-color: #CFD8DC;
}
.tool-btn-in-block:first-child {
    margin: 0 40px 0;
}
.touch-mode .tool-btn-in-block {
    display: none;
}