.input-group {
    display: flex;
    margin: auto;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #888;
    transition: .2s;
}
.input-group:focus-within {
    -webkit-box-shadow: var(--shadow-1);
            box-shadow: var(--shadow-1);
}
.input-group > .hint {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    padding: 0 8px;
    border-right: 1px solid #888;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.input-group > .inputter {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 8em;
    height: 32px;
    padding: 0 4px;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    border: none;
    outline: none;
}

input[type="color"] {
    display: none;
}